<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{  csrf_token() }}">

    <title>{% block title %}{% endblock title %} Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename="js/main.js") }}" defer></script>
    {% if current_user.is_authenticated %}
        <script>
            window.Auth = {{ current_user.json_attributes() | tojson }}
        </script>
    {% endif %}
</head>
<body>
    <div id="root">
        {% block main %}{% endblock %}
    </div>


    {% include "layouts/partials/alert.html" %}
</body>
</html>