<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/app.css") }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap" rel="stylesheet"> 
</head>
<body>
    
    {% block main %}{% endblock %}

    <script src="{{ url_for('static', filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/popper.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/app.js") }}"></script>

    <script></script>
</body>
</html>