{% extends "layouts/app.html" %}

{% block content %}
    <div class="container question">
        <div class="row my-4">
            <div class="col-sm-12 col-lg-9">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>{{  thread.title }}</h3>
                    {% if current_user.is_authenticated and thread.is_owner(current_user) %}
                    <div>
                        <a href="{{
                                url_for('threads.edit', category_slug=thread.category.slug, thread_slug=thread.slug) }}"
                           class="btn btn-sm btn-primary"
                        >Modifier</a>
                        <a href="#" class="btn btn-sm btn-danger ">Supprimer</a>
                    </div>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <small class="question-category">{{ thread.category.name }}</small>
                    <small class="text-black">Posted by {{ thread.owner.name }}</small>
                </div>

                <hr />
                {{ thread.content }}
            </div>
        </div>
    </div>


{% endblock content %}